h1{
    color: aqua;
    background-color: grey;
    font-size: 64px;
}

ol, ul{
    font-weight: 700;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}


h2{
    color:blueviolet;
    font-weight: 700;  
  }